doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/map/vendor/bootstrap.css')
    link(rel='stylesheet', href='/map/style.css')
  body
    #infobox.lead
    #container
    img.color(src='/map/color.png')
    script(src='/map/vendor/topojson.js')
    script(src='/map/vendor/d3.js')
    script(src='/map/vendor/three.js')
    script(src='/map/vendor/TrackballControls.js')
    script(src='/map/vendor/d3-threeD.js')
    script(src='/map/vendor/JSXTransformer.js')
    script(src='/map/vendor/react.js')
    script(src='/map/vendor/classNames.js')
    script(type='text/jsx', src='/map/script.js')
